:root {
	--view-finder-width: initial;
	--view-finder-height: initial;
	--view-finder-top: initial;
	--view-finder-left: initial;
	--view-finder-box-shadow: initial;
}

* {
	background-color: #000000;
	color: #959595
}

input {
	background-color: #101010;
	border-color: #898989;
	color: #ffffff
}

.inline {
	display: inline;
}

#view_finder {
	position: absolute;
	background-color: #00000000;
	width: var(--view-finder-width);
	height: var(--view-finder-height);
	top: var(--view-finder-top);
	left: var(--view-finder-left);
	box-shadow: var(--view-finder-box-shadow);
}

#canvas {
	display: none;
}

.punch_time {
	padding: 0 /*top*/ 0 /*right*/ 0 /*bottom*/ 0.5em /*left*/;
}

.punch_time_× {
	padding: 0 /*top*/ 0.5em /*right*/ 0 /*bottom*/ 0 /*left*/;
}

.week_table {
	padding: 0 /*top*/ 0 /*right*/ 1em /*bottom*/ 0 /*left*/;
	empty-cells: show;
}

.week_header_button {
	width: 100%;
}

.year_field {
	text-align: right;
}

.text_align_center {
	text-align: center;
}

.month_field {
	width: 2em;
}

.day_field {
	width: 2em;
}

.hour_field {
	width: 2em;
}

.minute_field {
	width: 2em;
}
